<!DOCTYPE html>
<html>
<head lang="en">
  <title>Wildbook UX Experiments</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/manta.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script href="scripts/behaviour.js"></script>
</head>
<body role="document" class="index">
  <!-- header -->
	<header class="page-header clearfix">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="header-top-wrapper">
        <div class="container">
          <div class="search-and-secondary-wrapper">
            <ul class="secondary-nav hor-ul no-bullets">
              <li><a href="#" title="">English</a></li><li><a href="#" title="">Login</a></li><li><a href="#" title="">User wiki</a></li>
            </ul>
            <div class="search-wrapper">
              <label class="search-field-header">
                <input placeholder="record nr., encounter nr., nickname or id" />
                <input type="submit" value="search" />
              </label>
            </div>
          </div>
          <a class="navbar-brand" href="#">MantaMatcher the wildbook for manta rays</a>
        </div>
      </div>
      <div class="nav-bar-wrapper">
        <div class="container">
          <div class="navbar-header clearfix">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active home"><a href="/">Home</a></li>
              <li><a href="../submit-encounter">Submit Encounter</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- /header -->

	<div class="container-fluid" role="main">
  		<%- yield %>
	</div>
	
  <!-- footer -->
  <footer class="page-footer">
    
    <h2 class="section-header">Created in partnership with</h2>
    <div class="container-fluid">
      <div class="container main-section">
        <a href="http://http://www.marinemegafauna.org/" title="Visit Marine Megafauna Foundation website">Marine Megafauna Foundations</a>

        <h3>We share our data with</h3>
        
        <ul class="hor-ul no-bullets">
          <li>
            <a href="http://www.iobis.org/" title="Global Biodiversity Information Facili ty"></a>
          </li>
          <li>
            <a href="http://www.gbif.org/" title="Ocean Biogeographic Information System"></a>
          </li>
          <li>
            <a href="http://www.coml.org/" title="Census of Marine life"></a>
          </li>
        </ul>

        <hr />

        <p>
          <small>This software is distributed under the GPL v3 license and is intended to support mark-recapture field studies. Open source and commercially licensed products used in this framework are listed here.</small>
        </p>
        <a href="#" title="This site is Powered by Wildbook">Powered By Wildbook</a>
      </div>
    </div>
	</footer>
  <!-- /footer -->
</body>
</html>