<section class="hero">
	<h1>Manta Matcher</h1>
	<p>
		You can help photograph, identify and protect mantas!
	</p>
	<button>
		Identify my manta submit image or video
	</button>
</section>

<section>
	<section>
		<h2>549</h2>
		<p>identified individuals</p>
	</section>
	<section>
		<h2>5040</h2>
		<p>reported encounters</p>
	</section>
	<section>
		<h2>78%</h2>
		<p>identification rate</p>
	</section>
</section>

<article>
  <h1>Why we do this</h1>
  <p>
  	This is a large selling text, which should contain only the important most points about why this is done.
  </p>
  <a href="#" title="">I want to know more</a>
</article>

<aside>
	<section>
		<h2>Our researchers</h2>

		<a href="#" title="">Show me all the researchers</a>
	</section>
	<section>
		<h2>Latest encounters</h2>
		<ul>
			<li>
				<a href="#" title="">Hooper</a>
				<time>23.12.14, Tofo Mozambique</time>
			</li>
			<li>
				<a href="#" title="">Daizy</a>
				<time>22.12.14, Tofo Mozambique</time>
			</li>
			<li>
				<a href="#" title="">Thomas</a>
				<time>20.12.14, Durban South-Africa</time>
			</li>
		</ul>
		<a href="#" title="">Latest encounters</a>
	</section>
	<section>
		<h2>Top spotter</h2>
		<a href="#" title="">Show me all the researchers</a>
	</section>
</aside>