<article class="container maincontent">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    
    <h1>
      <img src="http://www.mantamatcher.org/images/wild-me-logo-only-100-100.png" width="75px" height="75px" class="block">
      <small>Marked Individual</small><br/> 
      30_S30
    </h1>

    <p>
      <em>A marked individual is a single animal distinctly identified at one or more points in time. <a href="http://www.wildme.org/wildbook/doku.php?id=manual:2.0.x:1_overview">Learn more.</a>
      </em>
    </p>

    <hr/>

    <dl class="dl-horizontal">

      <dt>Taxonomy:</dt>
      <dd>Manta alfredi (Reef manta)</dd>

      <dt>Nickname:</dt>
      <dd></dd>

      <dt>Nicknamed by:</dt>
      <dd></dd> 

      <dt>Sex:</dt>
      <dd>female</dd>

      <dt>Date of Birth:</dt>
      <dd></dd>

      <dt>Date of Death:</dt>
      <dd></dd>

      <dt>Alternate ID:</dt>
      <dd><em>None</em></dd>
    </dl>

    <h4>Collaborating Researchers</h4>

    <ul class="hor-ul list-unstyled volunteer-list block-list">
      <li class="text-center">
        <a id="username0">
          <img src="http://www.mantamatcher.org//shepherd_data_dir/users/AKitchen-Wheeler/Anne-Marie_KW.jpg">
          <div class="name">Anne-Marie Kitchen-Wheeler</div>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <ul class="list-unstyled list-inline">
      <li>
       <a href="http://fb.wildme.org/wildme/public/profile/MR-30_S30" target="_blank">
          <img src="http://www.mantamatcher.org/images/wild-me-link.png">
        </a>
      </li>
    </ul>

    <p>-- Map goes here --</p>
    <p class="text-info">
      If you zoom in too quickly, Google Maps may claim that it does not have the needed maps. Zoom back out, wait a few seconds to allow maps to load in the background, and then zoom in again.
    </p>

    <p class="text-info">
      If more than one point is mapped for the marked individual, the map also displays chevrons to guide you from the first sighting (shown as a green icon) to each subsequent sighting over time. The chevrons do NOT represent a path of travel, just a sequential link across time.
    </p>

      <div class="row">
        <div class="col-sm-5 pull-right">
          
        </div>

        <div class="col-sm-7">

          <a name="tissueSamples"></a>
          <h3>Biological Samples</h3>
          <p><em>No biological samples have been added for this individual.</em></p>
          
          <a name="socialRelationships"></a>
          <h3>Social Relationships</h3>
          <p><em>No social relationships have been defined.</em></p>

          <a name="cooccurrence"></a>
          <h3>Co-occurrences</h3>
          <p><em>No co-occurrences have been recorded.</em></p>
        </div>
      </div>

      <hr/>

      <h2><strong>4</strong> Encounter(s)</h2>
      <p class="text-warning">Not all may be currently visible</p>
      
      <div id="encounter_report">
          
        <div class="pageableTable-wrapper">

          <div id="progress" style="display: none;">
            Generating encounters table
          </div>

          <table id="results-table" class="table tablesorter pageableTable">
            <thead>
              <tr>
                <th class="ptcol-date headerSortUp header" onclick="return headerClick(event, 0);">Date</th><th class="ptcol-location header" onclick="return headerClick(event, 1);">Location</th><th class="ptcol-dataTypes header" onclick="return headerClick(event, 2);">Data types</th><th class="ptcol-alternateID header" onclick="return headerClick(event, 3);">Alt ID</th><th class="ptcol-sex header" onclick="return headerClick(event, 4);">Sex</th><th class="ptcol-occ header" onclick="return headerClick(event, 5);">Occurring with</th><th class="ptcol-behavior header" onclick="return headerClick(event, 6);">Behavior</th>
              </tr>
          </thead>
          <tbody>
            <tr onclick="return rowClick(this);" class="clickable pageableTable-visible" data-id="d277154c-56e0-4cb1-a9f1-740f5ba4dd45">
              <td class="ptcol-date">2007-08-08 15:15</td><td class="ptcol-location">Lankan Reef</td><td class="ptcol-dataTypes"><img title="images" src="http://www.mantamatcher.org/images/Crystal_Clear_filesystem_folder_image.png"><img title="measurements" src="http://www.mantamatcher.org/images/ruler.png"></td><td class="ptcol-alternateID"></td><td class="ptcol-sex">female</td><td class="ptcol-occ"></td><td class="ptcol-behavior">Cleaning</td>
            </tr>
            <tr onclick="return rowClick(this);" class="classickable pageableTable-visible" data-id="131211132209281">
              <td class="ptcol-date">2007-07-31 07:20</td><td class="ptcol-location">Lankan</td><td class="ptcol-dataTypes"><img title="images" src="http://www.mantamatcher.org/images/Crystal_Clear_filesystem_folder_image.png"></td><td class="ptcol-alternateID"></td><td class="ptcol-sex">female</td><td class="ptcol-occ"></td><td class="ptcol-behavior">cleaning</td>
            </tr>
            <tr onclick="return rowClick(this);" class="clickable pageableTable-visible" data-id="1ea4cc41-09e5-4023-b240-cd8a2afb8a95">
              <td class="ptcol-date">2006-10-09 11:00</td><td class="ptcol-location">Lankan Reef</td><td class="ptcol-dataTypes"><img title="images" src="http://www.mantamatcher.org/images/Crystal_Clear_filesystem_folder_image.png"><img title="measurements" src="http://www.mantamatcher.org/images/ruler.png"></td><td class="ptcol-alternateID"></td><td class="ptcol-sex">female</td><td class="ptcol-occ"></td><td class="ptcol-behavior">Cleaning</td>
            </tr>
            <tr onclick="return rowClick(this);" class="clickable pageableTable-visible" data-id="131211132517966">
              <td class="ptcol-date">2001-10-15 10:00</td><td class="ptcol-location">Sunlight</td><td class="ptcol-dataTypes"><img title="images" src="http://www.mantamatcher.org/images/Crystal_Clear_filesystem_folder_image.png"></td><td class="ptcol-alternateID"></td><td class="ptcol-sex">female</td><td class="ptcol-occ"></td><td class="ptcol-behavior">Cleaning</td>
            </tr>
          </tbody>
        </table>
            <div id="results-slider" class="pageableTable-slider"></div>
        </div>
      </div>

    <hr/>

    <h2>Images</h2>
    <div id="results">
        <div class="scroll-box">

          <ul class="image-gallery list-unstyled list-inline block-list">
            <li>  
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132209281/c429b1ce42ce6bfc0142e1d282f70034.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Lankan</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2007-07-31 07:20</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132209281">131211132209281</a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

            <li>
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132517966/c429b1ce42ce6bfc0142e1d553160036.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Sunlight</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2001-10-15 10:00</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132517966">
                    131211132517966
                  </a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

            <li>
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132209281/c429b1ce42ce6bfc0142e1d282f70034.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Sunlight</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2001-10-15 10:00</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132517966">
                    131211132517966
                  </a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

            <li>  
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132209281/c429b1ce42ce6bfc0142e1d282f70034.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Lankan</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2007-07-31 07:20</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132209281">
                    131211132209281
                  </a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

            <li>
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132517966/c429b1ce42ce6bfc0142e1d553160036.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Sunlight</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2001-10-15 10:00</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132517966">
                    131211132517966
                  </a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

            <li>
              <img src="http://www.mantamatcher.org//shepherd_data_dir/encounters/131211132209281/c429b1ce42ce6bfc0142e1d282f70034.jpg" alt="photo" border="1" title="Click to enlarge">
              <dl class="dl-horizontal">
                <dt>Location:</dt>
                <dd>Sunlight</dd>

                <dt>Location ID:</dt>
                <dd>Maldives</dd>

                <dt>Date:</dt>
                <dd>2001-10-15 10:00</dd>

                <dt>Encounter number:</dt>
                <dd>
                  <a href="encounters/encounter.jsp?number=131211132517966">
                    131211132517966
                  </a>
                </dd>

                <dt>Matching keywords:</dt>
                <dd></dd>
              </dl>
            </li>

          </ul>
      </div>
    </div>
    <!-- end thumbnail gallery -->
  </div>

</article>