<div class="container maincontent">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h1>The Manta Matcher Team</h1>
        <p class="lead">
            Here are our fantasic researchers and volunteers.
        </p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    	<h3>We have 62 collaborating researchers and volunteers</h3>
        <p>Want to be a part of this team? <a>Become a volunteer!</a></p>
          
        <ul class="list-unstyled list-inline block-list volunteer-list">
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/shepherd_data_dir/users/adove/Twitter_avatar_2012.jpg">
                    </div>
                    <div class="name">Al Dove</div>
                    <i>Georgia Aquarium</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">All Out Africa Volunteer Program</div>
                    <i>All Out Africa</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Ana Filipa Sobral</div>
                    <i>The Manta Catologue Azores</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Ana Paula</div>
                    <i>Laje Viva Institute</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/shepherd_data_dir/users/Ana Paula/Ana_Paula.jpg">
                    </div>
                    <div class="name">Ana Paula</div>
                    <i>Laje Viva Institute</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/shepherd_data_dir/users/amarshall/Andrea-Marshall_300.jpg">
                    </div>
                    <div class="name">Andrea Marshall</div>
                    <i>Marine Megafauna Foundation</i>
                </a>
            </li>
            <li>
                <a> 
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Andrew Harvey</div>
                    <i>Manta Watch</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/shepherd_data_dir/users/AFlam/DSC01706_2.jpg">
                    </div>
                    <div class="name">Anna Flam</div>
                    <i>Marine Megafauna Foundation</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Anne-Marie Kitchen-Wheeler</div>
                    <i>IUCN Maldives manta monitoring project manager</i>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Bob Rubin</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="img-container">
                        <img src="http://www.mantamatcher.org/images/empty_profile.jpg">
                    </div>
                    <div class="name">Catherine Bates</div>
                </a>
            </li>
        </ul>
               
  </div>
</div>