body {
  background: @mainColor;
}

h1 {
  font-size: 16px;
}

.hide { /* visually hidden - still uses designated space */
	visibility: hidden;
	}

.hidden { /* completely hidden */
	display: none;
	}